In [99]:
import pandas as pd
import numpy as np

In [100]:
df = pd.read_csv("Advertising.csv")

In [101]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [102]:
df.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [103]:
X = df.drop('sales', axis=1)

In [104]:
y= df['sales']

### TRAIN VALIDATION HOLDOUT SPLIT

In [105]:
from sklearn.model_selection import train_test_split

In [106]:
X_train, X_test, y_train, y_test = train_test_split(
                X, y, test_size=0.30, random_state=101)

In [107]:
X_validation_train, X_holdout_test, y_validation_train, y_holdout_test = train_test_split(
                X_test, y_test, test_size=0.50, random_state=101)

In [108]:
len(X_holdout)

30

### MODEL TRAINING

In [109]:
from sklearn.ensemble import RandomForestRegressor

In [110]:
model = RandomForestRegressor(n_estimators=10, random_state=101)

In [111]:
model.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=101)

In [112]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [113]:
validation_predictions = model.predict(X_validation)

In [114]:
validation_predictions

array([14.32,  5.89,  4.27, 15.93, 11.46, 10.49, 10.99, 11.27, 18.11,
        7.44, 11.21, 21.97, 13.81,  8.03, 11.84,  6.9 , 13.87, 13.46,
       11.3 ,  8.13, 12.73, 21.99, 19.64, 15.71, 16.17, 23.98, 20.38,
        9.4 , 14.53, 19.51])

In [115]:
mean_absolute_error(y_validation, validation_predictions)

0.6636666666666673

In [116]:
np.sqrt(mean_squared_error(y_validation, validation_predictions))

0.7831368547918899

In [117]:
df.describe()['sales']

count    200.000000
mean      14.022500
std        5.217457
min        1.600000
25%       10.375000
50%       12.900000
75%       17.400000
max       27.000000
Name: sales, dtype: float64

### FINAL PERFORMANCE METRICS

In [118]:
holdout_predictions = model.predict(X_holdout_test)

In [119]:
mean_absolute_error(y_holdout_test, holdout_predictions)

0.5843333333333331

In [120]:
np.sqrt(mean_squared_error(y_holdout_test, holdout_predictions))

0.722802416524276

In [121]:
final_model = RandomForestRegressor(n_estimators=10, random_state=101)

In [122]:
final_model.fit(X, y)

RandomForestRegressor(n_estimators=10, random_state=101)

In [123]:
import joblib

In [124]:
joblib.dump(final_model, 'final_model.pkl')

['final_model.pkl']

In [125]:
joblib.dump(list(X.columns), 'col_names.pkl')

['col_names.pkl']

### LOADING MODEL

In [126]:
new_columns=joblib.load('col_names.pkl')

In [127]:
new_columns

['TV', 'radio', 'newspaper']

In [128]:
loaded_model = joblib.load('final_model.pkl')

In [129]:
loaded_model.predict([[230.1,37.8,69.2]])

C:\Users\Dell\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([21.9])